button {
    background-color: gray;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
}

#btnAdd {
    background-color: black;
    color: gray;
    padding: 5px; 
    margin: 10px;
}

img {
    border: solid 3px gray;
}

form {
    background-color: gray;
    width: 150px;
    margin: 10px;
    padding: 20px;
    padding-bottom: 5px;

}
body {
    background-color: black;
}

#image-banner {
    background-image: url("../images/road2.jpeg");
    background-repeat: no-repeat;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text-banner {
    font-size: 100px;
    position: absolute;
    top: 50px;
    left: 200px;
    color: rgb(149, 216, 233);
}